.header__auth {
  align-self: flex-start;
  margin-top: 6px;
  display: flex;
  gap: 20px;
  align-items: center;
  visibility: visible;
  border-bottom: 1px solid transparent;
  transition: visibility .2s linear, opacity .2s linear, transform .2s linear;
}

@media screen and (max-width: 545px) {
  .header__auth {
    margin-top: 0;
    padding: 14px 0 38px 0;
    visibility: hidden;
    opacity: 0;
    border-bottom-color:  #545454;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: column;
    transform: translateY(-100%);
  }
}