.popup__close {
  width: 32px;
  height: 32px;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background: url('../../../images/icons/close-icon.svg') center no-repeat;
  background-size: contain;
  position: absolute;
  top: -40px;
  right: -40px;
  transition: opacity .2s linear;
}

.popup__close:hover {
  opacity: .6;
}

@media screen and (max-width: 690px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
