.cards__likes-container {
  padding: 4px;
  gap: 4px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  color: #000;
  border-radius: 10px;
  transition: background-color .1s linear;
}
