.cards__owner-wrapper {
  position: absolute;
  top: -50px;
  left: -50px;
  z-index: 2;
  width: 60px;
  height: 60px;
  border-bottom-right-radius: 100%;
  background-color: #000000f7;
  color: #fff;

 /*  visibility: hidden;
  opacity: 0; */

  transition: top .4s linear,
              left .4s linear,/* 
              visibility .2s linear,
              opacity .2s linear, */
              border-bottom-right-radius .4s linear,
              width .4s linear,
              height .4s linear;
}