.form-auth__btn {
  width: 100%;
  margin: 0;
  padding: 14px;
  background: #fff;
  border-radius: 2px;
  border: none;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  cursor: pointer;
  opacity: 1;
  transition: opacity .2s linear;
}

.form-auth__btn:disabled {
  opacity: .4;
  cursor: default;
}
.form-auth__btn:disabled:hover {
  opacity: .4;
}

.form-auth__btn:hover {
  opacity: 0.85;
}

.form-auth__btn:focus {
  outline: none;
  opacity: 0.85;
}

@media screen and (max-width: 425px) {
  .form-auth__btn {
    font-size: 16px;
    line-height: 18px;
  }
}