.form-auth__input {
  width: 100%;
  background-color: transparent;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border-color: transparent;
  border-bottom: 2px solid #ccc;
  margin: 0 0 2px 0;
  padding: 0  0 7px 0;
  box-sizing: border-box;
  transition: border .2s linear;
}

.form-auth__input:focus {
  outline: none;
  border-bottom: 2px solid #fff;
}

.form-auth__input::placeholder {
  color: #ccc;
}